.lz-form-item {
  --lz-form-label-width: 150px;
  --lz-form-label-font-size: var(--lz-font-size-base);
  --lz-form-content-font-size: var(--lz-font-size-base);
}

.lz-form-item {
  display: flex;
  margin-bottom: 18px;
  &:has(> .position-top){
    flex-direction: column;
  }

  .lz-form-item__label {
    height: 32px;
    line-height: 32px;
    width: var(--lz-form-label-width);
    padding: 0;
    padding-right: 10px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: var(--lz-form-label-font-size);    
    color: var(--lz-text-color-regular);
    &.position-right {
      padding-left: 12px;
      justify-content: flex-end;
    }
    &.position-left {
      padding-right: 12px;
      justify-content: flex-start;
    }
    &.position-top {
      padding-bottom: 12px;
      justify-content: flex-start;
    }
  }

  .lz-form-item__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    line-height: 32px;
    font-size: var(--lz-form-content-font-size);
    min-width: 0;
    position: relative;
  }

  .lz-form-item__error-msg {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2px;
    color: var(--lz-color-danger);
    font-size: 12px;
    line-height: 1;
  }

  &.is-error {
    :deep(.lz-input__wrapper){
      box-shadow: 0 0 0 1px var(--lz-color-danger) inset;
    }
  }

  &.is-required.asterisk-right > .lz-form-item__label::after{
    content: '*';
    color: var(--lz-color-danger);
    margin-left: 4px;
  }

  &.is-required.asterisk-left > .lz-form-item__label::before{
    content: '*';
    color: var(--lz-color-danger);
    margin-right: 4px;
  }

  &.is-disabled > .lz-form-item__label{
    color: var(--lz-disabled-text-color);
    cursor: not-allowed;
    &::before,&::after{
      cursor: not-allowed;
    }
  }

  &.is-disabled > .lz-form-item__content{
    color: var(--lz-disabled-text-color);
    cursor: not-allowed;
  }
}
