.lz-icon {
  --lz-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--lz-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .lz-icon--$(val) {
    --lz-icon-color: var(--lz-color-$(val));
  }
}